{% block login %}
{% if current_user.is_authenticated %}
    <a href="{{ url_for('logout') }}">Sign Out {{current_user.username}}</a>
{% else %}
    <a href="{{ url_for('login') }}">Sign In</a>
{% endif %}
{% endblock %}

<div class="page-header">
    <h1>{% if num_tweets %}{{ num_tweets }}{% else %}0{% endif %} possible tweets saved. </h1>
    <p><a href="{{ url_for('see_all_tweets') }}">See all my tweets (if logged in).</a></p>
    <p><a href="{{ url_for('see_all_users') }}">See all twitter users.</a></p>
</div>

{% if current_user %}
<form method="POST">
	{{ form.hidden_tag() }}
	{{ form.text.label }} {{ form.text() }}<br>
    {{ form.hashtags.label }} {{ form.hashtags() }}<br>
	{{ form.username.label }} {{ form.username() }}<br>
	{{ form.submit() }}
</form>

<div>
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}
</div>
{% endif %}
